.App {
  font-family: sans-serif;
  text-align: center;
}
.navbar {
  height: 30px;
  width: 300px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  float: right;
}
.b1 {
  color: white;
  background-color: blueviolet;
}
.b2 {
  color: blue;
  background-color: white;
}
